:root {
    --w-scale: 5vw;
}

.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightgray;
    border: solid black 1px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 12.5%
}

h1 {
    text-align: center;
    font-size: 3rem;
    width: 75%;
}

#date {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.col-6 {
    display: flex;
    flex-direction: column;
}

.clue-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--w-scale);
    margin: 4px 0;
    max-height: 75px;
}

.active-box {
    background-color: lightyellow !important;
}

.active-row {
    background-color: #e3e3e3;
}


.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: var(--w-scale);
    font-weight: 700;
    height: var(--w-scale);
    width: var(--w-scale);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    pointer-events: none;
    max-width: 100px;
    max-height: 100px;
}

.filled-box {
    border: 2px solid black;
    pointer-events: none;
}

.clue {
    margin: 4px 0.5rem;
    font-size: calc(var(--w-scale) * 0.5);
    font-weight: 700;
    pointer-events: none;
}

#keyboard-cont {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.keyboard-button.aux-button {
    /* flex: 2; */
    font-size: 1em;
    max-width: 118px;
}

.keyboard-button {
    font-size: 1.25em;
    /* adjusted for consistency with new setup */
    font-weight: bold;
    /* adjusted for consistency with new setup */
    margin: 0 6px 8px 0;
    /* adjusted margin for better spacing */
    height: 58px;
    /* adjusted for consistency with new setup */
    border-radius: 4px;
    /* adjusted for consistency with new setup */
    cursor: pointer;
    background-color: lightgray;
    border: solid black 1px;
    color: black;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    /* adjusted for centering content */
    justify-content: center;
    /* adjusted for centering content */
    align-items: center;
    /* adjusted for centering content */
    text-transform: uppercase;
    flex: 1;
    /* adjusted for flexible sizing */
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
    max-width: 75px;
    min-width: 20px;
}


.tooltip-icon {
    display: inline-block;
    width: 20px;
    /* Set the width of the icon */
    height: 20px;
    /* Set the height of the icon */
    margin-left: 4px;
    margin-right: 4px;
    /* Adjust the spacing between the icon and the letter row */
    cursor: default;
    /* Change cursor to default on hover */
    background-image: url('info.svg');
    /* Set SVG as background image */
    background-size: cover;
    /* Ensure the SVG fills the icon */
}

.tooltip-icon:hover::before {
    content: attr(title);
    /* Display the tooltip text */
    position: absolute;
    background-color: #333;
    /* Background color of the tooltip */
    color: #fff;
    /* Text color of the tooltip */
    padding: 5px;
    /* Padding of the tooltip */
    border-radius: 5px;
    /* Border radius of the tooltip */
    font-size: 14px;
    /* Font size of the tooltip */
    white-space: nowrap;
    /* Prevent tooltip from wrapping */
    z-index: 1;
    /* Ensure tooltip is above other elements */
    /* Adjust the position of the tooltip */
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip-icon:hover::before,
.tooltip-icon:focus::before {
    opacity: 1;
    /* Show tooltip on hover or focus */
}

.show-tooltip::before {
    opacity: 1;
    /* Show tooltip */
}


/* Media queries for smaller screens */
@media only screen and (max-width: 450px) and (min-width: 0px) {
    h1 {
        font-size: 2rem;
    }

    #date {
        font-size: 1.5rem;
    }


    .clue-wrapper {
        height: 1.75rem;
    }

    .letter-box {
        font-size: 1.25rem;
        height: 1.25rem;
        width: 1.25rem;
        margin: 2px 0.5px;
    }

    .tooltip-icon {
        width: 16px;
        height: 16px;
    }

    .clue {
        font-size: 0.75rem;
        line-height: 0.75rem;
    }

    .keyboard-button {
        font-size: 1rem;
        padding: 0.15rem;
        margin: 0 3px 3px 0;
    }

    #keyboard-cont {
        position: fixed;
        bottom: 0;
        left: 1vw;
        width: 98vw;
    }

    .keyboard-button.aux-button {
        font-size: 0.6em;
    }

}
