:root {
    --w-scale: min(7vw, 7vh);
    --max-width: 65px;

    /* COLORS NORMAL */

    --info-color: hwb(195 83% 3%);
    --info-vibrant-color: hwb(195 20% 3%);
    --bg: #f5f5f5;
    --border-color: #333;
    --font-color: black;
    --highlight-row-color: #a7d8ff;
    --highlight-cell-color: #ffda00;

    /* COLORS DARK */
    --bg-dark: #333;
    --border-color-dark: #f5f5f5;
    --font-color-dark: white;
    --highlight-row-color-dark: #a7d7ff7e;
    --highlight-cell-color-dark: #ffd90060;

}

body {
    background-color: var(--bg);
    color: var(--font-color);

}

.dark-mode {
    background-color: var(--bg-dark);
    color: var(--font-color-dark);

}

.title-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightgray;
    border: solid black 1px;
    color: black;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    flex: 0 0 10%;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding: 0px;
    padding-bottom: 5px;
    flex-grow: 1;
}

.subtitle-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;

}

.small-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.small-button {
    font-size: 1.25rem;
    padding: 1px;
    margin: 2px;
}


#date {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    margin: 0;
}

#game-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-6 {
    display: flex;
    flex-direction: column;
}

#answer-row {
    flex-grow: 1;
    justify-content: right;
}

#clue-row {
    flex-grow: 1;
    justify-content: left;
}

.clue-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: var(--w-scale);
    margin: 4px 0;
    max-height: var(--max-width);
}

.clue-wrapper.letter-row {
    justify-content: right;
}

.clue-wrapper.clue-info-wrapper {
    justify-content: space-between;
}

.active-box {
    background-color: var(--highlight-cell-color) !important;
}
.dark-mode .active-box {
    background-color: var(--highlight-cell-color-dark) !important;
}

.active-row {
    background-color: var(--highlight-row-color);
}

.dark-mode .active-row {
    background-color: var(--highlight-row-color-dark);
}

.dark-mode .swal2-modal {
    background-color: var(--bg-dark);
    color: var(--font-color-dark);
}

.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: min(85px, var(--w-scale));
    font-weight: 700;
    height: var(--w-scale);
    width: var(--w-scale);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    pointer-events: none;
    max-width: var(--max-width);
    max-height: var(--max-width);
}

.dark-mode .letter-box {
    border: 2px solid var(--border-color-dark);
}

.filled-box {
    border: 2px solid black;
    pointer-events: none;
}

.clue {
    margin: 4px 0.5rem;
    font-size: calc(min(85px, var(--w-scale)) * 0.45);
    font-weight: 700;
    pointer-events: none;
}

#keyboard-cont {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.keyboard-button.aux-button {
    /* flex: 2; */
    font-size: 1em;
    max-width: 118px;
}

.keyboard-button {
    font-size: 1.25em;
    /* adjusted for consistency with new setup */
    font-weight: bold;
    /* adjusted for consistency with new setup */
    margin: 0 6px 8px 0;
    /* adjusted margin for better spacing */
    height: 58px;
    /* adjusted for consistency with new setup */
    border-radius: 4px;
    /* adjusted for consistency with new setup */
    cursor: pointer;
    background-color: lightgray;
    border: solid black 1px;
    color: black;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    /* adjusted for centering content */
    justify-content: center;
    /* adjusted for centering content */
    align-items: center;
    /* adjusted for centering content */
    text-transform: uppercase;
    flex: 1;
    /* adjusted for flexible sizing */
    /* https://stackoverflow.com/questions/46167604/ios-html-disable-double-tap-to-zoom */
    touch-action: manipulation;
    max-width: 75px;
    min-width: 20px;
}


.tooltip-icon {
    display: inline-block;
    width: 20px;
    /* Set the width of the icon */
    height: 20px;
    /* Set the height of the icon */
    margin-left: 2px;
    margin-right: 2px;
    /* Adjust the spacing between the icon and the letter row */
    cursor: default;
    /* Change cursor to default on hover */
    background-image: url('info.svg');
    /* Set SVG as background image */
    background-size: cover;
    /* Ensure the SVG fills the icon */
}

.dark-mode .tooltip-icon {
    filter: invert(1);
}


.colored-toast {
    background-color: var(--info-color) !important;
}

.toast-icon {
    width: 1.75em;
    height: 1.75em;
}

/* selector for parent of .toast-icon */
.swal2-icon-show:has(.toast-icon) {
    border: 0;
}

.swal2-validation-message {
    background-color: var(--info-color);
}

.swal2-validation-message::before {
    display: none;
}


/* Media queries for smaller screens */
@media only screen and (max-width: 450px) and (min-width: 0px) {
    :root {
        --w-scale: min(9vw, 4.2vh);
    }
    #game-board {
        flex-direction: column;
    }
    h1 {
        font-size: 1rem;
    }
    h2 {
        font-size: 1rem;
    }

    #date {
        font-size: 1.5rem;
    }

    .clue-wrapper.letter-row {
        justify-content: center;
    }
    .tooltip-icon {
        width: 16px;
        height: 16px;
    }

    .keyboard-button {
        /* font-size: 1rem; */
        padding: 0.15rem;
        margin: 0 3px 3px 0;
        height: 50px;
    }

    #keyboard-cont {
        position: fixed;
        bottom: 0;
        left: 1vw;
        width: 98vw;
    }

    .keyboard-button.aux-button {
        font-size: 0.55em;
    }

    .small-button {
        font-size: 1rem;
        padding: 0px;
        margin: 1px;
    }

    .nav-button {
        font-size: 1rem;
        padding: 0;
    }

}

.setting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    border-bottom: 1px solid black;
}

.dark-mode .setting {
    border-bottom: 1px solid var(--border-color-dark);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--info-vibrant-color);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--info-vibrant-color);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}