h1 {
    text-align: center;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.col-6 {
    display: flex;
    flex-direction: column;
}

.clue-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2.5rem;
}

.active-box {
    background-color: lightyellow !important;
}

.active-row {
    background-color: #e3e3e3;
}


.letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2rem;
    font-weight: 700;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    pointer-events: none;
}

.filled-box {
    border: 2px solid black;
    pointer-events: none;
}

.letter-row {
    display: flex;
}

.clue {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    pointer-events: none;
}

#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#keyboard-cont div {
    display: flex;
}

.second-row {
    margin: 0.5rem 0;
}

.keyboard-button {
    font-size: 1rem;
    font-weight: 700;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: lightgray;
    border: solid black 1px;
    color: black;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.tooltip-icon {
    display: inline-block;
    width: 20px;
    /* Set the width of the icon */
    height: 20px;
    /* Set the height of the icon */
    margin-left: 8px;
    /* Adjust the spacing between the icon and the letter row */
    cursor: default;
    /* Change cursor to default on hover */
    background-image: url('info.svg');
    /* Set SVG as background image */
    background-size: cover;
    /* Ensure the SVG fills the icon */
}

.tooltip-icon:hover::before {
    content: attr(title);
    /* Display the tooltip text */
    position: absolute;
    background-color: #333;
    /* Background color of the tooltip */
    color: #fff;
    /* Text color of the tooltip */
    padding: 5px;
    /* Padding of the tooltip */
    border-radius: 5px;
    /* Border radius of the tooltip */
    font-size: 14px;
    /* Font size of the tooltip */
    white-space: nowrap;
    /* Prevent tooltip from wrapping */
    z-index: 1;
    /* Ensure tooltip is above other elements */
    /* Adjust the position of the tooltip */
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip-icon:hover::before,
.tooltip-icon:focus::before {
    opacity: 1;
    /* Show tooltip on hover or focus */
}

.show-tooltip::before {
    opacity: 1;
    /* Show tooltip */
}